.Aff-p {
	/* display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 30px; */
	/* padding-right: 40px;
    padding-left: 40px; */
}
.Aff-button {
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
	border: none;
	font-weight: 700;
	border-radius: 10px;
	background-color: rgb(0, 120, 225);
	color: #fff;
}

.Aff-button:hover {
	background-color: rgb(0, 47, 66);
	transition-duration: 450ms;
	transition-delay: 75ms;
}

.aff-new-prog {
	display: flex;
	padding-right: 35px;
	padding-left: 35px;
	justify-content: space-between;
}

.head-af {
	font-size: 35px;
	text-align: center;
	padding-top: 15px;
	font-family: "Quicksand", sans-serif;
}
.af-content {
	padding-left: 160px;
	padding-right: 160px;
	font-size: 25px;
	text-align: center;
	font-weight: 900;
}
.af-content a {
	text-decoration: none;
}

.school-form {
	margin: 40px;
	padding: 40px;
	border: 0.6px dotted black;
}

.school-form-head {
	font-size: 30px;
	font-family: "Quicksand", sans-serif;
	font-weight: 600;
	text-align: left;
}

.school-form-items {
	display: flex;
	flex-wrap: wrap;
}

.additional-info-p {
	width: 100%;
	text-align: start;
	font-size: 25px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.additional-info-p p{
	width: 100%;
	margin-bottom: 0;
	font-weight: 500;
}

.additional-info-p span{
	margin-bottom: 0;
	font-weight: 900;
}

.additional-info-div {
	margin-top: 20px;
	width: 100%;
	display: flex;
	/* align-items: start;
	justify-content: start; */
	text-align: start;
	margin-left: 10px;
}

.left-text-payment {
	width: 70%;
	font-size: 21px;
}

.ltp-1 {
	font-weight: 900;
	margin-bottom: 0px;
}

.ltp-2 {
	font-weight: 900;
	color: #1875d1;
	font-size: 25px;
}
.ltp-3 {
	font-weight: 900;
}

.right-img-qr {
	width: 30%;
}

.right-img-qr img{
	width: 100%;
}

.razorpay_pay {
	display: flex;
	flex-direction: column;
}

.rp-1 {
	margin-bottom: 0;	
	font-size: 25px;
}
.rp-2 {
	margin-bottom: 0;	
	font-size: 25px;
}

.razorpay-btn {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.rp-3 {
	font-weight: 900;
	font-size: 28px;
	margin-right: 10px;
	margin-bottom: 0;
}

.razorpay-btn button {
	width: 150px;
	padding: 0;
	/* padding-right: 15px;
    padding-left: 15px; */
	border: none;
	font-size: 20px;
	font-weight: 700;
	border-radius: 15px;
	text-align: center;
	background-color: rgb(0, 47, 66);
	color: #fff;
}

.razorpay-btn button:hover {
	background-color: rgb(0, 120, 225);
	transition-duration: 450ms;
	transition-delay: 75ms;
}


.school-items-form {
	width: 90%;
	padding: 10px;
	font-family: "Quicksand", sans-serif;
	font-weight: 600;
	position: relative;
	text-align: left;
	align-items: center;
	justify-content: space-between;
	display: flex;
	font-size: 20px;
}
.school-items-form input {
	position: absolute;
	border: 1px solid rgb(26, 26, 26);
	right: 40px;
	width: 45%;
}

.up-dec-button {
	width: 10%;
	padding: 5px 15px 5px 15px;
	/* padding-right: 15px;
    padding-left: 15px; */
	border: none;
	font-weight: 700;
	border-radius: 15px;
	text-align: center;
	background-color: rgb(0, 120, 225);
	color: #fff;
}

.up-dec-button:hover {
	background-color: rgb(0, 47, 66);
	transition-duration: 450ms;
	transition-delay: 75ms;
}

.pay-btn {
	padding: 5px 15px 5px 15px;
	/* padding-right: 15px;
    padding-left: 15px; */
	border: none;
	font-weight: 700;
	border-radius: 10px;
	background-color: rgb(0, 47, 66);
	color: #fff;
}

.pay-btn:hover {
	background-color: rgb(0, 120, 225);
	transition-duration: 450ms;
	transition-delay: 75ms;
}

.btn-common {
	margin: 10px;
	display: flex;
	justify-content: space-between;
}
.last_buttons {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}

.error {
	color: red;
	background: pink;
	border: 1px solid red;
	border-radius: 4px;
	padding: 8px;
	margin: 10px 0;
}
.after-submit {
	width: 50%;
	display: none;
	border: 0.7px solid black;
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 20px;
}
.after-submit button {
	background-color: rgb(0, 120, 225);
	border: none;
	border-radius: 20px;
	color: white;
	padding: 5px 10px 5px 10px;
	font-weight: 700;
}

.why-affiliate-container {
	width: 99vw;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 20px;
	gap: 20px;
	justify-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
	grid-row-gap: 50px;
}
.aff-benifit-container {
	/* height: 700px; */
	width: 210px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	border: 1px solid black;
	border-radius: 20px;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	/* text-align: start; */
}
.aff-benifit-container img {
	width: 180px;
	margin-bottom: 10px;
	/* text-align: center; */
}
.aff-benifit-container-title {
	font-weight: bolder;
	color: #1875d1;
	font-size: 20px;
	margin-top: 10px;
	font-family: "Quicksand";
	margin-bottom: 25px;
}
.aff-benifit-container-p {
	font-size: 15px;
	font-weight: 600;
	/* text-align: start; */
}
.perk-benefit {
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	/* display: flex; */
	justify-content: space-between;
}
.perk-benefit span {
	font-size: 30px;
	font-family: "Quicksand", sans-serif;
	font-weight: 600;
	color: rgb(35, 116, 162);
}
.perk-benefit button {
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
	border: none;
	font-weight: 700;
	border-radius: 10px;
	background-color: rgb(47, 136, 214);
	color: #fff;
}
.com-perk-eli {
	padding-right: 30px;
	padding-left: 30px;
}
.com-perk-eli p {
	text-align: left;
	font-weight: 600;
}
.com-perk-eli li {
	text-align: left;
	font-weight: 600;
}
.perk-head {
	color: rgb(17, 128, 224);
	font-weight: 600;
}
.perk-head1 {
	color: rgb(0, 0, 0);
	font-weight: 600;
}
.eli-criteria {
	padding: 30px;
	font-size: 30px;
	font-family: "Quicksand", sans-serif;
	font-weight: 600;
	color: rgb(40, 148, 86);
	text-align: left;
}
.eli-head {
	color: rgb(27, 161, 85);
	font-weight: 600;
}
.last_check {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 0.6px dotted black;
	margin-top: 10px;
	border-radius: 20px;
}
.last_check_box input {
	padding: 40px;
}
.last_check div {
	padding: 10px;
}
.last_check p {
	text-align: justify;
	padding: 10px;
	font-weight: 600;
}

.collapse-buttons {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.imcc-btn {
	margin: 20px;
}

.icc-main {
	text-align: left;
	width: 70vw;
}

.imcc-main-content p span {
	font-weight: 900;
}

@media (max-width: 768px) {
	.why-affiliate-container {
		max-width: 100%;
		margin-top: 20px;
		grid-row-gap: 20px;
		grid-template-columns: repeat(2, 1fr);
	}
	.additional-info-p {
		font-size: 20px;
	}
	.additional-info-div {
		flex-direction: column;
	}
	.right-img-qr {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.right-img-qr img{
		width: 80%;
	}
	.razorpay_pay {
		display: flex;
		flex-direction: column;
		text-align: left;
	}
	.rp-1 {
		margin-bottom: 0;	
		font-size: 20px;
	}
	.rp-2 {
		margin-bottom: 0;	
		font-size: 20px;
	}
	.rp-3 {
		font-weight: 900;
		font-size: 20px;
		margin-right: 10px;
		margin-bottom: 0;
	}
	.aff-benifit-container {
		width: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
	}
	.aff-benifit-container img {
		width: 90px;
		/* margin-bottom: 10px; */
	}
	.aff-benifit-container-title {
		font-weight: bolder;
		color: #1875d1;
		font-size: 15px;
		margin-top: 10px;
		font-family: "Quicksand";
		margin-bottom: 15px;
	}
	.aff-benifit-container-p {
		font-size: 12px;
		font-weight: 600;
		/* text-align: start; */
	}
	.school-items-form {
		width: 100%;
		font-size: 10px;
		padding: 7px;
	}
	.school-form {
		margin: 20px;
		padding: 20px;
	}

	.up-dec-button {
		font-size: 12px;
	}
	.pay-btn {
		font-size: 12px;
	}
	.school-items-form input {
		right: 0px;
		width: 40%;
	}
	.up-dec-button {
		width: 30%;
	}
	.last_buttons {
		padding-top: 13px;
	}
	.aff-new-prog {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: 0;
		padding-right: 0;
	}
	.perk-benefit span {
		font-size: 25px;
	}
	.perk-benefit button {
		font-size: 20px;
		width: 90%;
	}
	.last_check {
		padding: 5px;
	}
	.last_check div {
		padding: 3px;
	}
	.last_check p {
		font-size: 8px;
		padding: 4px;
	}
	.Aff-p {
		font-size: 15px;
	}
	.Aff-button {
		/* padding-right: 5px;
      padding-left: 5px;
      font-size: 15px; */
		width: 350px;
	}
	.af-content {
		padding-left: 40px;
		padding-right: 40px;
		font-size: 15px;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.Aff-button {
		font-size: 15px;
	}

	.why-affiliate-container {
		max-width: 100%;
		margin-top: 20px;
		grid-row-gap: 20px;
		grid-template-columns: repeat(4, 1fr);
	}
	.aff-benifit-container {
		width: 150px;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
	}
	.aff-benifit-container img {
		width: 90px;
	}
	.aff-benifit-container-title {
		font-weight: bolder;
		color: #1875d1;
		font-size: 15px;
		margin-top: 10px;
		font-family: "Quicksand";
		margin-bottom: 15px;
	}
	.aff-benifit-container-p {
		font-size: 12px;
		font-weight: 600;
		/* text-align: start; */
	}

	.school-items-form {
		width: 100%;
		font-size: 13px;
		padding: 10px;
	}

	.school-items-form input {
		right: 0px;
		width: 60%;
	}

	.up-dec-button {
		width: 30%;
	}
}
