.head-am2{
    font-size:55px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(43, 143, 66);
  }
  .part_d1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
  }
  .part_d1 p{
    font-size: 33px;
    color: rgb(61, 133, 214);
  }
  .con-mind2{
      font-size: 22px;
      padding-bottom: 5px;
  }
  .forest-am2{
    display: flex;
    flex-direction: column;
    opacity:0.02px;
  }
  .forest_img{
    background-image:url('./images/About/mn.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .forest_img button{
    margin-top: 430px;
    background-color: black;
    color: white;
    border-bottom: 6px solid white;
    font-size: 46px;
    font-weight: 600;
  }
  .forestam{
      align-items: center;
      padding: 40px 0 40px 0;
  }
  .forestam img{
      width: 60%;
      height: auto;
  }
  .proover{
    font-family: anton;
    padding: 20px;
    border-top: 1.5px solid black;
  }
  .info-strip1{
      padding-top: 25px;
      margin-bottom: 25px;
  }

  .pro-strip{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    justify-content: space-evenly;
  }
  .img-item img{
    height: 100px;
  }
  .grey-text{
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(240, 240, 240);
    margin-bottom: 0px;
  }
  .text1{
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 40px;
    font-weight: 650;
    text-align: left;
  }
  .text2{
    padding-left: 40px;
    padding-right: 40px;
    font-size:98px;
    color: rgb(51, 168, 82);
    font-weight: 300;
    font-family: 'Anton', sans-serif;
    text-align: left;
  }
  .text3{
    padding-left: 40px;
    padding-right: 40px;
    font-size:38px;
    font-weight: 650;
    margin-bottom: 40px;
    text-align: left;
  }
  .prakriti{
    margin-top: 20px;
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .img-item img{
      height: 75px;
    }
    .text1{
      font-size: 30px;
    }
    .text2{
      font-size: 70px;
    }
    .text3{
      font-size: 27px;
    }
  }
  
  @media (max-width: 768px){
  
    .pro-strip{
      display: flex;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 20px;
      margin-bottom: 5px;
    }
    .img-item img{
      height: 30px;
    }
    .grey-text{
      margin-left: 2px;
      margin-right: 2px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 15px;
      text-align: justify;
      margin-bottom: 0px;
    }
    .text1{
      padding-left: 20px;
      padding-right: 20px;
      font-size: 18px;
      font-weight: 500;
    }
    .text2{
      padding-left: 20px;
      padding-right: 20px;
      font-size:40px;
      color: rgb(51, 168, 82);
      font-weight: 300;
      font-family: 'Anton', sans-serif;
    }
    .text3{
      padding-left: 20px;
      padding-right: 20px;
      font-size:20px;
      font-weight: 500;
      margin-bottom: 40px;
    }
  
    .prakriti{
      content: url('./images/pics/mob.webp');
      width: 100%;
      height: auto;
    }
    
  
  }


  @media (max-width: 768px) {
    .forest_img{
        height: 250px;
    }
    .forest_img button{
        margin-top: 125px;
        font-size: 20px;
    }
    .head-am2{
        font-size: 22px;
    }
    .part_d1 p{
        font-size: 16px;
    }
    .con-mind2{
        font-size: 12px;
    }
    .proover{
        padding-bottom: 0;
    }
    .forestam img{
        width: 100%;
    }
  }



  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .forest_img{
        height: 500px;
    }
    .forest_img button{
        margin-top: 300px;
        font-size: 30px;
    }
    .head-am2{
        font-size: 30px;
    }
    .part_d1 p{
        font-size: 20px;
    }
    .con-mind2{
        font-size: 14px;
    }
  }